html {
  width: 100%;
  background-color: #060c1f;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.parent {
  display: grid;
  grid-template-columns: 75px repeat(6, 1fr);
  grid-template-rows: 75px repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
}

#logo {
  width: 75px;
  height: 75px;
}

.search {
  grid-area: 1 / 2 / 2 / 6;
}

.search > input {
  width: 50%;
  margin-left: 8%;
  margin-top: 18px;
  /* margin-right: auto; */
  padding: 10px;
  padding-right: 250px;
  padding-bottom: 6px;
  border-radius: 40px;
  font-size: 14px;
  font-family: "Noto Sans Tamil Supplement";
}

.account {
  grid-area: 1 / 6 / 2 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account > a {
  margin: auto;
  border: none;
  padding: 12px;
  background-color: #0a43f0;
  color: #e4e9fa;
  font-family: "Noto Sans Tamil Supplement";
  font-size: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

#login {
  margin-left: auto;
  margin-right: auto;
  padding-left: 49px;
  padding-right: 49px;
}

#register {
  margin-left: auto;
  margin-right: auto;
  padding-left: 41.875px;
  padding-right: 41.875px;
}

.hero {
  grid-area: 2 / 1 / 5 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("heroImage.jpg");
  /* opacity: 0.65; */
  background-size: cover;
  background-repeat: no-repeat;
}

.plan {
  margin-top: 241px;
  margin-bottom: 241px;
  width: 250px;
  padding-top: 160px;
  padding-bottom: 160px;
  border-radius: 10px;
  text-align: center;
  background-color: #163290;
  color: white;
}

.plan > a{
    background-color: #883bef;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

div.hero > h3 {
  font-family: "Commissioner", sans-serif;
}

.hero > h4 {
  font-family: "Noto Sans Tamil Supplement";
}

#plan-1 {
  margin-right: 10%;
  font-family: "Noto Sans Tamil Supplement";
}

#plan-2 {
  font-family: "Noto Sans Tamil Supplement";
}

#plan-3 {
  margin-left: 10%;
  font-family: "Noto Sans Tamil Supplement";
}

.feature {
  grid-area: 5 / 1 / 8 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 376px;
  border-radius: 5px;
  text-align: center;
  background-color: gray;
}

.poster {
  height: 376px;
  width: 250px;
  border-radius: 5px;
}

.movies {
  display: flex;
  justify-content: center;
}

#movie-1 {
  margin-right: 10%;
  margin-left: 10px;
  font-family: "Noto Sans Tamil Supplement";
}

#movie-2 {
  font-family: "Noto Sans Tamil Supplement";
}

#movie-3 {
  margin-left: 10%;
  margin-right: 10px;
  font-family: "Noto Sans Tamil Supplement";
}

#LEFT_BUTTON,
#RIGHT_BUTTON{
  font-size: 50px;
  width: 50px;
  background-color: #163290;
  border-radius: 10px;
}

.footer {
  grid-area: 8 / 1 / 9 / 8;
  background-color: #163290;
  color: #e4e9fa;
  font-family: "Commissioner";
  display: flex;
}

.contact > u,
.about > u,
.other > u{
  font-weight: bold;
}

.contact,
.about,
.other{
  margin-top: 10px;
  margin-left: auto;
  margin-right: 18%;
}

.about > a{
  text-decoration: none;
  color: #e4e9fa;
}